@import '../sass-components/shared';
@import '../../node_modules/foundation-sites/scss/foundation';

.education {
  background: $teal-background;
  border-left: 4px solid rgba($black-absolute, .5);
  border-right: 4px solid rgba($black-absolute, .5);
  color: $white;
  flex: 1;
  padding: $content-padding-mobile $content-padding-mobile .5rem;

  @include breakpoint(medium) {
    border-left: 0;
    padding: $content-padding $content-padding .5rem;
  } // medium //
} // experience //
