@import '../../sass-components/shared';
@import '../../../node_modules/foundation-sites/scss/foundation';

$proficient-width: 37rem;
$box-height: 4.5rem;

.skill-group {
  margin-top: 2rem;

  .mobile-title {
    border-bottom: 1px solid rgba($white, 0.5);
    color: $white;
    margin-bottom: 3rem;
    text-transform: uppercase;
    small {
      @include sans-font;
    }
  } // mobile-title //

  .stack-box {
    @include gray-border;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    padding: 0;

    .proficient,
    .learning {
      box-sizing: content-box;
      flex: 0 0 100%;
      margin-top: -1.75rem;
      max-width: 100%;
      padding: 1.5rem 0 0;
    } // learning, proficient //

    @include breakpoint(medium) {
      height: $box-height;

      .proficient {
        border-right: 3px solid $gray-lightest;
        flex: 0 0 $proficient-width;
        height: $box-height;
        max-width: $proficient-width;
      } // proficient
      .learning {
        flex: 1;
        height: $box-height;
      } // learning //
    } // medium //

    h5 {
      color: $white;
      margin-top: -1.5rem;
      text-align: center;
    } // h5 //

    .technology-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding-left: 0.3rem;
      padding-right: 0.3rem;

      @include breakpoint(medium) {
        padding-left: 0;
      } // medium //
    } // ul //
  } // stack-box //

  .stack {
    color: $gray-dark;
    display: flex;

    .title {
      @include sans-font-secondary;
      background: $gray-lightest;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
    } // title //

    .description {
      align-items: center;
      background: $white;
      display: flex;
      font-size: 0.75rem;
      font-style: italic;
      margin-left: 1px;
      padding: 0.2rem 0.6rem 0.2rem 0.4rem;
    } // description //
  } // stack //
} // technologies //

@media all and(max-width: 499px) {
  .technology-list {
    li:nth-last-child(1):nth-child(odd) {
      flex: 0 0 100%;
      max-width: 100%;
      .knowledge {
        width: 50%;
      }
    } // li //
  } // technology-list //
} // small only

@media all and (min-width: 500px) {
  .proficient {
    li:nth-last-child(1):nth-child(odd) {
      flex: 0 0 66.666666666%;
      max-width: 66.666666666%;
      .knowledge {
        width: 50%;
      }
    } // li //
  } // proficient //
  .learning {
    li {
      &:nth-last-child(1):nth-child(even) {
        flex: 0 0 66.666666666%;
        max-width: 66.666666666%;
        .knowledge {
          width: 50%;
        }
      }
      &:nth-last-child(1):first-child {
        flex: 0 0 100%;
        max-width: 100%;
        .knowledge {
          width: 33%;
        }
      }
    } // li //
  } // proficient //
} // 500+ //

@include breakpoint(medium) {
  .proficient {
    li:nth-last-child(1):nth-child(odd) {
      flex: 0 0 33.333333334%;
      max-width: 33.333333334%;
      .knowledge {
        width: 50%;
      }
    } // li //
  } // proficient //
  .learning {
    li {
      &:nth-last-child(1):nth-child(even) {
        flex: 0 0 66.666666666%;
        max-width: 66.666666666%;
        .knowledge {
          width: 50%;
        }
      }
      &:nth-last-child(1):first-child {
        flex: 0 0 100%;
        max-width: 100%;
        .knowledge {
          width: 33%;
        }
      }
    }
  } // proficient //
} // 500+ //
