@mixin sans-font {
  font-family: 'Noto Sans', sans-serif;
} // sans-font //

@mixin sans-font-secondary {
  font-family: 'Raleway', sans-serif;
} // sans-font-secondary //

@mixin gray-border {
  border: 0.05rem solid $gray-lightest;
} // gray-border //

@mixin drop-shadow {
  box-shadow: 0.1rem 0.1rem 0.2rem rgba($black, 0.2);
} // drop-shadow //
