// - - - - - - - - COLORS - - - - - - - - //
$black: #333;
$black-absolute: #000;
$black-text: #0a0a0a;

$blue: #32a0d2;
$blue-dark: #2a5c82;

$cerulean: #24bee7;

$gray-lightest: #e6e7e7;
$gray-dark: #58585b;

$red: #bb2326;

$teal: #06bfea;
$teal-background: #24b8c8;

$white: #fff;

// - - - - - - - - VALUES - - - - - - - - //
$content-padding-mobile: 1rem;
$content-padding: 1.75rem;
